.formContainer{
   display:flex;
   justify-content:center;
   align-items:center;
   height:100vh;
}


body {
background-color: lightgray;
}

.menu {
padding-left: 10px
margin:20px;
}


.logoutButton {
margin-left: 150px;
height:50px;
background-color:lightblue;
}


.posts {
margin: 50px;
border: 5px solid #FFFF00;
display: flex;
justify-content: center;
}


.container{
width:1500px;
height:1000px;

}

.menu {
width:auto;
margin:auto;
padding: 50px;
}

.label {
padding-top:40px;
margin-right:50px;
}
