
body {
background-color: lightgray;
}

.menu {
padding-left: 10px
margin:20px;
}


.logoutButton {
margin-left: 150px;
height:50px;
background-color:lightblue;
}


.posts {
margin: 50px;
border: 5px solid #FFFF00;
display: flex;
justify-content: center;
}
