<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <meta charset="uft-8">
    <title>To jest nazwa strony</title>
    <script src="plugin.js">Script</script>
</head>
<body>

<div class="menu">
    <img th:src="@{/images/MyStoryLogo.png}" style="width:1500px; height:300px">
    <label>Wpisz nazwe uzytkownika</label>
    <input type="text" id="searchInput" name="search">
    <button class="logoutButton"
            onclick="window.location.href = 'http://localhost:8080/logout';">
        Click here to logout
    </button>

</div>
<div class="posts">
<table class="posts2">
    <tr th:each="story : ${stories}">
        <td><span th:text="${story.title}">Title</span></td>
        <td><span th:text="${story.content}">Content</span></td>

    </tr>
</table>
</div>
</body>
</html>