<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="uft-8">
        <title>To jest nazwa strony</title>
        <style>
            .formContainer {
            display:flex;
            justify-content:center;
            align-items:center;
            }

            .container{
            width:1500px;
            height:1000px;
            }


        </style>
    </head>

<body>
<div class="formContainer">
<form class="mainForm" method="post" th:action="@{/save}" th:object="${appUserForm}">
    <div class="container">

            <input class="credentialsField" type="username" th:field="*{username}">Login</input>


            <input class="credentialsField" type="password"  th:field="*{password}">Password</input>


            <input class="credentialsField" type="age"  th:field="*{age}">Age</input>
    <input type="submit" value="Submit">
    </div>
</form>
</div>

</body>
</html>