<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
<div class="container">


<div class="menu">
<div>
    <label class="label">Podaj nazwe uzytkownika</label>
    <input id="username" name="username">
</div>
<div>
    <label class="label">Podaj haslo</label>
    <input id="password" name="password">
</div>
<div>
    <label class="label">Podaj wiek</label>
    <input id = "age" name = "password">
</div>
</div>
</div>

</body>

</html>