<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <meta charset="uft-8">
        <title>To jest nazwa strony</title>
    </head>

<body>
<div class="formContainer">
<form class="mainForm" method="post" th:action="@{/save}" th:object="${form}">

            <input id="username" type="text" th:field="*{username}">Login</input>


            <input id="password" type="text"  th:field="*{password}">Password</input>


            <input id="age" type="text"  th:field="*{age}">Age</input>
    <button type="submit">Confirm</button>
</form>
</div>

</body>
</html>